<div class="container">
  <% if @cart.user %>
  <h1><%= @cart.user.email %>'s Cart</h1>
  <% else %>
  <h1>Visitor's Cart</h1>
  <% end %>
  <%= render :partial => 'items/item', :collection => @items %>
  <%= @quantity %>
</div>
<%= session[:checkout_total] %>

<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description="A month's subscription"
        data-amount="<%= session[:checkout_total] %>"
        data-locale="auto"></script>
