<div class="container">
  <% if @cart.user %>
  <h1><%= @cart.user.email %>'s Cart</h1>
  <% else %>
  <h1>Visitor's Cart</h1>
  <% end %>
  <%= render :partial => 'items/item', :collection => @items, :locals => {:cart => @cart} %>
  <%= @quantity %>
  <%= session[:checkout_total] %>

<%= form_tag charges_path do %>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Purchase cart"
          data-amount="<%= @amount %>"
          data-locale="auto"></script>
<% end %>
