<div class="row cart-item">
  <div class="col-xs-3 picture">
    <img src="#" class="img-responsive" alt="No Image Found!!!"/>
  </div>
  <div class="col-xs-9 item-body">
    <div class="row cart <%=item.id%>-name">
      <div class="col-xs-9">
        <%= item.name %>
      </div>
    </div>
    <div class="row cart <%=item.id%>-quantity">
      <div class="col-xs-9">
        Quantity:
        <div class="quantity-<%= item.id%>">
          <%= cookies["cart-#{cart.id}-item-#{item.id}-qty"] %>
          <%= link_to 'Change', show_quantity_form_path(:item_id => item.id), :remote => true  %>
        </div>
        Unit Price:
        <div class="price-<%= item.id%>">
          <%= item.price %>
        </div>
      </div>
    </div>
    <div class="row cart <%=item.id%>-delete">
      <div class="col-xs-9">
        <%= link_to 'Delete', remove_from_cart_path(:item_id => item.id) %>
      </div>
    </div>
  </div>
  <div class="col-xs-3 item-total-price">
    Total Price:
    <%= item.total_price(cookies["cart-#{cart.id}-item-#{item.id}-qty"]) %>
  </div>
</div>
