<div class="row">

  <div class="col-md-2">
    <img src="#" class="img-responsive" alt="No Image Found!!!"/>
  </div>

  <div class="col-md-10">
    <div class="row">
      <h4><%= item.name %></h4>
    </div>

    <div class="row">
        Quantity:
        <span class="quantity-<%= item.id%>">
          <%= cookies["item-#{item.id}-qty"] %>
          <%= link_to 'Change', show_quantity_form_path(:item_id => item.id), :remote => true  %>
        </span>
    </div>

    <div class="row">
      Unit Price: $<span class="price-<%= item.id%>"><%= item.price/100.to_f %></span>
    </div>

    <div class="row">
      Total Price: $<%= item.total_price(cookies["item-#{item.id}-qty"])/100.to_f %>
    </div>

    <div class="row">
      <%= link_to 'Delete', remove_from_cart_path(:item_id => item.id) %>
    </div>

  </div>
</div>
