<div class="row">
<% @items.each_slice(4) do |row| %>
  <div class="row">
    <% row.each do |item| %>
      <div class="col-xs-6 col-sm-3">
        <%= link_to item_path(:id => item.id) do %>
          <div class="item-<%=item.id%> item">
              <img src="#" class="img-responsive" alt="No Image Found!!!"/>
          </div>
          <h3 class="item-name"><%= item.name %></h3>
        <% end %>
        <h4 class="item-price"><%="$#{item.price/100}"%></h4>
        <p class="item-description"><%= item.description %></p>
        <i><%= button_to "Add to Cart", add_to_cart_path(item_id: item.id), method: :get, class: "btn btn-default" %></i>
      </div>
    <% end %>
  </div>
<% end %>
