
<div class="row">
  <div class="col-xs-3 picture">
    <img src="#" class="img-responsive" alt="No Image Found!!!"/>
  </div>
  <div class="col-xs-9 item-body">
    <div class="row cart <%=item.id%>-name">
      <div class="col-xs-9">
        <%= item.name %>
      </div>
    </div>
    <div class="row cart <%=item.id%>-quantity">
      <div class="col-xs-9">
        Quantity:
        <!-- <%# form_tag update_quantity_path(:item => item) %>
        <%# %> -->
      </div>
    </div>
    <div class="row cart <%=item.id%>-delete">
      <div class="col-xs-9">
        <%= link_to 'Delete', remove_from_cart_path(:item_id => item.id) %>
      </div>
    </div>
  </div>
  <div class="col-xs-3 item-total-price">
    <%= item.price %>
  </div>
</div>
