<div class="col-xs-12">
    <div class="item-<%=@item.id%> item">
        <img src="#" class="img-responsive" alt="No Image Found!!!"/>
    </div>
  <h3 class="item-name"><%= @item.name %></h3>
  <h4 class="item-price"><%="$#{@item.price/100}"%></h4>
  <p class="item-description"><%= @item.description %></p>
  <i class="btn btn-default">Add to cart</i> <br />
  <%= link_to 'Back', items_path %>
</div>
