<div class="row">

  <div class="col-md-2">
    <img src="#" class="img-responsive" alt="No Image Found!!!"/>
  </div>

  <div class="col-md-10">
    <div class="row">
      <h4><%= line_item.item.name %></h4>
    </div>

    <div class="row">
        Quantity: <span class="quantity-<%= line_item.id%>"><%= line_item.quantity %></span>
    </div>

    <div class="row">
      Unit Price: $<span class="price-<%= line_item.id%>"><%= line_item.item.price %></span>
    </div>

    <div class="row">
      Total Price: $<span class="total_price-<%= line_item.id%>"><%= line_item.item.price * line_item.quantity %></span>
    </div>

  </div>
</div>
