<div class="row">

  <div class="col-md-2">
    <img src="#" class="img-responsive" alt="No Image Found!!!"/>
  </div>

  <div class="col-md-10">
    <div class="row">
      <h4><%= purchased_item.name %></h4>
    </div>

    <div class="row">
        Quantity: <span class="quantity-<%= purchased_item.id%>"><%= purchased_item.quantity %></span>
    </div>

    <div class="row">
      Unit Price: $<span class="price-<%= purchased_item.id%>"><%= purchased_item.price %></span>
    </div>

    <div class="row">
      Total Price: $<span class="total_price-<%= purchased_item.id%>"><%= purchased_item.price * purchased_item.quantity %></span>
    </div>

  </div>
</div>
